.cflb-button-preview {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.cflb-button-preview:hover {
  opacity: 0.8;
}

.cflb-button-preview:hover span {
  transform: scale(1.1);
}

.cflb-preview-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
